@import "src/styles/mixins";

.products-wrapper{
    @include flex-row;
    @include flex-basis(80);  
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    // padding: 5%;
}


@media only screen and (max-width: 765px) {
    
    .products-wrapper{
        @include flex-basis(100);  
       
    }
      }