@import "src/styles/mixins";

.App {
    @include flex-row;
    font-family: sans-serif;
    justify-content: center;
    padding: 4%
  }

  .basket {
    @include flex-basis(20);
  }


  

  @media only screen and (max-width: 765px) {
    
.App {
  @include flex-column-reverse;
}

.basket {
  @include flex-basis(100);
}
  }
  